{{- if .Params.cover.image -}}
<meta name="twitter:card" content="summary_large_image">
{{- if (ne $.Params.cover.relative true) }}
<meta name="twitter:image" content="{{ .Params.cover.image | absURL }}">
{{- else }}
<meta name="twitter:image" content="{{ (path.Join .RelPermalink .Params.cover.image ) | absURL }}">
{{- end}}
{{- else }}
{{- $images := partial "templates/_funcs/get-page-images" . }}
{{- with index $images 0 }}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ .Permalink }}">
{{- else }}
  {{- with site.Params.images }}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ index . 0 | absURL }}">
  {{- else }}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ absURL "/images/sparklebox-og.png" }}">
  {{- end }}
{{- end }}
{{- end }}

{{- with cond .IsHome (site.Params.homeTitle | default site.Title) (or .Title site.Title site.Params.title) | plainify }}
  <meta name="twitter:title" content="{{ . }}">
{{- end }}

{{- with partial "seo_description.html" . | htmlUnescape }}
  <meta name="twitter:description" content="{{ trim . "\n\r\t " }}">
{{- end }}
